/* import google font = poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap&#39');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0 10px;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items: center;
    background: #349808;
    justify-content: center;
}

::selection {
    color: #fff;
    background: #349808;
}

.wrapper {
    height: 265px;
    max-width: 410px;
    background: #fff;
    border-radius: 7px;
    padding: 20px 25px 0;
    transition: height 0.2s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.wrpper.active {
    height: 530px;
}